<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('table.order_sum') %>:</strong>
  <%= @order.order_sum %>
</p>

<p>
  <strong><%= t('table.user') %>:</strong>
  <%= @order.user.name %>
</p>

<p>
  <strong><%= t('table.drink') %>:</strong>
  <%= @order.drink.name %>
</p>

<p><strong><%= t('table.ingredients') %>:</strong></p>
<ul>
<% @order.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
<% end %>
</ul>

<%= link_to t('edit.create'), new_order_path %>
