<p id="notice"><%= notice %></p>

<h1>Drinks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount left</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <tr>
        <td><%= drink.name %></td>
        <td><%= drink.amount_left %></td>
        <td><%= drink.price %></td>
        <td>
          <%= simple_form_for(drink) do |f| %>

              <div class="form-inputs">
                <%= f.input :amount_left %>
              </div>

              <div class="form-actions">
                <%= f.button :submit %>
              </div>
          <% end %>
        </td>
        <td><%= link_to 'Show', drink %></td>
        <td><%= link_to 'Edit', edit_drink_path(drink) %></td>
        <td><%= link_to 'Destroy', drink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drink', new_drink_path %>
