<p id="notice"><%= notice %></p>

<h1><%= t('nav.drinks') %> <%= link_to t('edit.create'), new_drink_path, class: 'btn btn-primary' %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t('table.name') %></th>
      <th><%= t('table.amount_left') %></th>
      <th><%= t('table.price') %></th>
      <th colspan="2"><%= t('table.actions') %></th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <tr>
        <td><%= drink.name %></td>
        <td><%= drink.amount_left %></td>
        <td><%= drink.price %></td>
        <td>
          <%= simple_form_for(drink) do |f| %>

              <div class="form-inputs">
                <%= f.input :amount_left %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, t('edit.submit'), class: 'btn btn-primary' %>
              </div>
          <% end %>
        </td>
        <td>
          <%= link_to t('edit.show'), drink, class: 'btn btn-secondary' %>
          <%= link_to t('edit.edit'), edit_drink_path(drink), class: 'btn btn-secondary' %>
          <%= link_to t('edit.destroy'), drink, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
