<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('table.name') %>:</strong>
  <%= @drink.name %>
</p>

<p>
  <strong><%= t('table.amount_left') %>:</strong>
  <%= @drink.amount_left %>
</p>

<p>
  <strong><%= t('table.price') %>:</strong>
  <%= @drink.price %>
</p>

<div>
  <%= link_to t('edit.edit'), edit_drink_path(@drink), class: 'btn btn-primary' %>
  <%= link_to t('edit.back'), drinks_path, class: 'btn btn-link' %>
</div>
