<p id="notice"><%= notice %></p>

<h1><%= t('nav.users') %> <%= link_to t('edit.create'), new_user_path, class: 'btn btn-primary' %></h1>

<table class="table">
  <thead>
  <tr>
    <th><%= t('table.user_name') %></th>
    <th><%= t('table.money_left') %></th>
    <th><%= t('table.actions') %></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.money_left %></td>
        <td>
          <%= simple_form_for(user) do |f| %>

              <div class="form-inputs">
                <%= f.input :money_left %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, t('edit.update'), class: 'btn btn-primary' %>
              </div>
          <% end %></td>
        <td><%= link_to t('edit.show'), user, class: "btn btn-secondary" %>
        <%= link_to t('edit.edit'), edit_user_path(user), class: "btn btn-secondary" %>
        <%= link_to t('edit.destroy'), user, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
