<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('table.user_name')%>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('table.password')%>:</strong>
  <%= @user.password %>
</p>

<p>
  <strong><%= t('table.money_left')%>:</strong>
  <%= @user.money_left %>
</p>

<%= link_to t('edit.edit'), edit_user_path(@user), class: 'btn btn-primary' %>
<%= link_to t('edit.back'), users_path, class: 'btn btn-link' %>
