<p id="notice"><%= notice %></p>

<h1><%= t('nav.ingredients') %> <%= link_to t('edit.create'), new_ingredient_path, class: 'btn btn-primary' %></h1>

<table class="table">
  <thead>
  <tr>
    <th><%= t('table.name') %></th>
    <th><%= t('table.amount_left') %></th>
    <th><%= t('table.price') %></th>
    <th colspan="2"><%= t('table.actions') %></th>
  </tr>
  </thead>

  <tbody>
  <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.amount_left %></td>
        <td><%= ingredient.price %></td>
        <td>
          <%= simple_form_for(ingredient) do |f| %>

              <div class="form-inputs">
                <%= f.input :amount_left %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, t('edit.submit'), class: 'btn btn-primary' %>
              </div>
          <% end %>
        </td>
        <td>
          <%= link_to t('edit.show'), ingredient, class: 'btn btn-secondary' %>
          <%= link_to t('edit.edit'), edit_ingredient_path(ingredient), class: 'btn btn-secondary' %>
          <%= link_to t('edit.destroy'), ingredient, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
