<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('table.name') %>:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong><%= t('table.amount_left') %>:</strong>
  <%= @ingredient.amount_left %>
</p>

<p>
  <strong><%= t('table.price') %>:</strong>
  <%= @ingredient.price %>
</p>

<%= link_to t('edit.edit'), edit_ingredient_path(@ingredient) %> |
<%= link_to t('edit.back'), ingredients_path %>
