<p id="notice"><%= notice %></p>

<h1><%= t('nav.users') %></h1>

<table class="table">
  <thead>
  <tr>
    <th><%= t('table.user_name') %></th>
    <th><%= t('table.password') %></th>
    <th><%= t('table.money_left') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.password %></td>
        <td><%= user.money_left %></td>
        <td>
          <%= simple_form_for(user) do |f| %>

              <div class="form-inputs">
                <%= f.input :money_left %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, t('edit.submit') %>
              </div>
          <% end %></td>
        <td><%= link_to t('edit.show'), user %></td>
        <td><%= link_to t('edit.edit'), edit_user_path(user) %></td>
        <td><%= link_to t('edit.destroy'), user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('edit.create'), new_user_path %>
