<!DOCTYPE html>
<html>
<head>
  <title>Coffeemachine</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div id="user_nav" class="container">
  <div class="row">
    <div class="pull-right">
      <%= link_to_unless_current "English", locale: 'en', class: "btn btn-info" %>
      <%= link_to_unless_current "Українська", locale: 'ua', class: "btn btn-info" %>
    </div>
    <p>
      <% if current_user %>
          <%= t('nav.logged_in_as') %> <%= current_user.name %>.
          <%= link_to t('nav.log_out'), log_out_path %>
      <% else %>
          <%= link_to t('nav.sign_up'), sign_up_path %> or
          <%= link_to t('nav.log_in'), log_in_path %>
      <% end %>
    </p>
  </div>
  <div class="row">
    <%= link_to t('nav.home'), root_path, class: "btn btn-default" %>
    <% if is_admin? %>
        <%= link_to t('nav.drinks'), drinks_path, class: "btn btn-default" %>
        <%= link_to t('nav.ingredients'), ingredients_path, class: "btn btn-default" %>
        <%= link_to t('nav.users'), users_path, class: "btn btn-default" %>
    <% end %>

  </div>
</div>

<div class="container">
  <div class="row">
    <h3>
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    </h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= yield %>
  </div>
</div>


</body>
</html>
